<ion-view view-title="perfil usuária">
  <ion-content>

  	<div class="back-logo-complete">
  	  <img ng-src="img/face.svg" width="150" />
  	</div>
    <div class="complete-text">
      Complete a informações de seu perfil para que consiga contratar um(a) profissional:
    </div>
    <form class="complete-form" ng-submit="appLogin(login)">
      <div class="complete-list">
  	    <p>
          <label>*data de nascimento</label>
    	    <input type="text" placeholder="dd/mm/aaaa" ng-model="login.username">
	      </p>
        <p>
          <label>*cpf</label>
          <input type="text" placeholder="digite sem ponto e traço." ng-model="login.username">
        </p>
        <p>
          <label>*rg</label>
          <input type="text" placeholder="digite sem ponto e traço." ng-model="login.username">
        </p>
        <p>
          <label>*cep </label>
          <input type="text" placeholder="digite sem ponto e traço" ng-model="login.username">
        </p>
        <p>
          <label>*endereço</label>
          <input type="text" placeholder="digite" ng-model="login.username">
        </p>
        <p>
          <label>*número</label>
          <input type="text" placeholder="digite" ng-model="login.username">
        </p>
        <p>
          <label>*complemento</label>
          <input type="text" placeholder="exemplo:fundos, bloco, etc." ng-model="login.username">
        </p>
        <p>
          <label>*bairro</label>
          <input type="text" placeholder="digite" ng-model="login.username">
        </p>
        <p>
          <label>*cidade</label>
          <input type="text" placeholder="digite" ng-model="login.username">
        </p>

      </div>
      <button class="button button-block button-calm login-button">salvar</button>
    </form>
  </ion-content>
</ion-view>
