<ion-view view-title="cadastro de usuária">
  <ion-content>

  	<form class="login-form" ng-submit="appLogin(login)">

      <div class="list-app">
      <label class="list-item">
        <input type="text" placeholder="e-mail" ng-model="login.email">
      </label>
	    <label class="list-item">
	      <input type="text" placeholder="login" ng-model="login.username">
	    </label>
	    <label class="list-item">
	      <input type="password" placeholder="senha" ng-model="login.password">
	    </label>
      <label class="list-item">
        <input type="password" placeholder="repita a senha" ng-model="login.repeat_password">
      </label>
      <label class="list-item">
        <a class="calm">leia nosso termo de uso</a>
      </label>
      <ion-checkbox ng-model="login.term">li e concordo com termo de uso</ion-checkbox>
      </div>
      <button class="button button-block button-calm singup-button">avançar</button>
    </form>
  </ion-content>
</ion-view>
