<ion-view view-title="login">
  <ion-content>

  	<div class="back-logo">
  	  <img ng-src="img/logo.svg" />
  	</div>
    <form class="login-form" ng-submit="appLogin(login)">
      <div class="list-app">
	    <label class="list-item">
	      <input type="text" placeholder="login" ng-model="login.username">
	    </label>
	    <label class="list-item">
	      <input type="password" placeholder="senha" ng-model="login.password">
	    </label>
      </div>
      <button class="button button-block button-calm login-button">acessar</button>
      <a class="button button-block button-calm login-facebook-button" ng-click="loginFacebook();" href="">acessar via</a>
    </form>

    <div class="item-link">
      <a class="button button-block button-energized" href="#/login/sing-up">cadastre-se</a>
    </div>

  </ion-content>
</ion-view>
