.bar.bar-stable{
	background:#ad1b59;	
	-webkit-box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.57);
	-moz-box-shadow:    0px 1px 11px 0px rgba(50, 50, 50, 0.57);
	box-shadow:         0px 1px 11px 0px rgba(50, 50, 50, 0.57);

	.title{
		color:#FFF;
		font-size:18px;	
	}
}

.scroll-content{
	background-image:url("../img/background.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.back-logo{  
  text-align:center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow:         0px 1px 11px 0px rgba(50, 50, 50, 0.57);
  img{
  	margin:30px 60px;
  	max-width:220px;
  }
}

.back-logo-complete{  
  text-align:center;
  img{
  	margin:30px 60px;
  	max-width:220px;
  }
}

.list-app{
	padding-top:10px;

	.list-item{

		border-bottom:1px solid #989699;

		display:block;

		input[type="text"], input[type="password"]{
			background:transparent;
			text-align:center;
			width:100%;
			color:#000;
			font-size:20px;
			line-height:50px;
			height:50px;
			display:block;
		}

		a{
			display:inline-block;
			padding:10px 0;
			font-size:16px;
			text-decoration:underline;
		}
	}

	margin: 0 0 10px 0;
}
.button{
  min-height:44px;
}
.login-button, login-facebook-button, .singup-button{
  width:90px !important;
  display:inline-block;
  font-size:17px;
  margin:0 10px;
}

.login-facebook-button{
	width:150px !important;
	display:inline-block;
	padding-right:50px;
	background-image:url("../img/face-logo.png");
	background-repeat:no-repeat;
	background-position:110px 9px;
}

.singup-button{
	width:150px !important;
}

.login-form{
	text-align:center;
	width:100%;
}

.bar-stable .button.button-clear{
	color:#FFF;
}

.item-link{
	width:100%;
	text-align:center;

	margin:5px 0 0 0;

	a{
	  width:130px !important;
	  display:inline-block;
	  font-size:17px;
	}
}

.item{
	background:initial;
	border-bottom:1px solid #989699;
	border-top:1px solid #989699;
	color:#aaaaaa;
	font-size:16px;
	.checkbox{
		padding: 7px 15px !important;
	}
}

.complete-form{
	text-align:center;
	.complete-list{
		text-align:left;
		p{

			padding:5px 20px;
			border-bottom:solid 1px #989699;

			label{
				font-size:18px;
				color:#38383a;
			}

			input{
				background:transparent;
				font-size:18px;
			}
		}
	}
}

.complete-text{
	color:#57585a;
	font-size:18px;
	padding:0px 10px 20px;
}